header{
    background: rgba(255,255,255,0.9);
    z-index: 100;
    margin-bottom: 5vh;
    z-index: 100;
}
.contenedores img {
    max-height: 40px;
}
.contenedores .link{
    display: block;
    
    font-size: 1em;
    padding: 8px 28px;
    color: #32384f;
    text-decoration: none;
}
.contenedores .link:hover{

}
.contenedores .signUp{
    border: #4e7cf2;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    color: #32384f;

    border: 1px solid rgba(50,56,79,.15);
    
    
}
.contenedores .signUp:hover{
    background: #4e7cf2;
    border-radius: 30px;
    
    color: #fff;
    
    
}
.contenedores{
    display: flex;
    
}
.navbar{
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    padding-bottom: 10px;
}