<main>
    <section id="main-header">
        <h1 class="titulo">
            Create your Facebook Messenger ChatBot without a single line of code.
        </h1>
        
        <h5 class="subtitulo">
            Use our service that connects Facebook messenger API with microsoft's QnA service and grow your community by answering instantly their most frequently asked questions.
        </h5>
        <a routerLink="/login" class="buttonrouter"><button> Start now</button></a>
        <div style="height: 200px;"></div>
    </section>
    <section id="howWeWork">
        <img src="../../assets/img/chats.png" alt="" class="back">
        <div class="contenedor">
            <div class="imagen">
                <img src="../../assets/img/responsetime.png" alt="">
            </div>
           
            <div class="text">
                <h2>
                    Build your Messenger ChatBot within minutes.
                </h2>
                <p>
                    It only takes 3 easy and fast steps to make the ChatBot that will help you strengthen your community.
                </p>
                <ul>
                    <li>Step 1</li>
                    <li>Step 2</li>
                    <li>Step 3</li>
                </ul>
                <p>
                    place holder im out of ideas :( Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi, quasi inventore tempore, vitae repellat eveniet ab eligendi quae quos aliquid dolor soluta expedita? Officia ducimus atque quidem labore ipsam laudantium. lorem
                </p>
            </div>
        </div>
    </section>
    <section id="pricingPlans">
        
            <h1>Pricing</h1>
            <div class="panel pricing-table">
      
                <div class="pricing-plan">
                  <img src="https://s22.postimg.cc/8mv5gn7w1/paper-plane.png" alt="" class="pricing-img">
                  <h2 class="pricing-header">Beta</h2>
                  <ul class="pricing-features">
                    <li class="pricing-features-item">Basic Funtionallity</li>
                    <li class="pricing-features-item">Sleeps after 30 minutes</li>
                    <li class="pricing-features-item">Your own community chatbot</li>

                  </ul>
                  <span class="pricing-price">Free</span>
                  <a href="#/" class="pricing-button">Start now for free</a>
                </div>
                
                <div class="pricing-plan">
                  <img src="https://s28.postimg.cc/ju5bnc3x9/plane.png" alt="" class="pricing-img">
                  <h2 class="pricing-header">Basic ChatBot</h2>
                  <ul class="pricing-features">
                    <li class="pricing-features-item">Never sleeps</li>
                    <li class="pricing-features-item">Make it by your own</li>
                    <li class="pricing-features-item">Yo man buy it right now :V</li>
                  </ul>
                  <span class="pricing-price">$15/month</span>
                  <a href="#/" class="pricing-button is-featured">Buy now</a>
                </div>
                
                <div class="pricing-plan">
                  <img src="https://s21.postimg.cc/tpm0cge4n/space-ship.png" alt="" class="pricing-img">
                  <h2 class="pricing-header">Enterprise</h2>
                  <ul class="pricing-features">
                    <li class="pricing-features-item">Dedicated server for your chatbot</li>
                    <li class="pricing-features-item">For big ammount of responses per minute</li>
                  </ul>
                  <span class="pricing-price">$0.01/ response</span>
                  <a href="#/" class="pricing-button">Contact Us</a>
                </div>
                
              </div>
        
    </section>

</main>

