<main>
    <section id="main-header">
        <h1 class="titulo">
            Create your Facebook Messenger ChatBot without a single line of code.
        </h1>
        
        <h5 class="subtitulo">
            Use our service that connects Facebook messenger API with microsoft's QnA service and grow your community by answering instantly their most frequently asked questions.
        </h5>
        <a routerLink="/login" class="buttonrouter"><button> Start now</button></a>
        <div style="height: 200px;"></div>
    </section>
    <section id="howWeWork">
        <img src="../../assets/img/chats.png" alt="" class="back">
        <div class="contenedor">
            <div class="imagen">
                <img src="../../assets/img/responsetime.png" alt="">
            </div>
           
            <div class="text">
                <h2>
                    Build your Messenger ChatBot within minutes.
                </h2>
                <p>
                    It only takes 3 easy and fast steps to make the ChatBot that will help you strengthen your community.
                </p>
                <ul>
                    <li>Step 1</li>
                    <li>Step 2</li>
                    <li>Step 3</li>
                </ul>
                <p>
                    place holder im out of ideas :( Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi, quasi inventore tempore, vitae repellat eveniet ab eligendi quae quos aliquid dolor soluta expedita? Officia ducimus atque quidem labore ipsam laudantium. lorem
                </p>
            </div>
        </div>
    </section>
    <section id="pricingPlans">

    </section>
    <section>
        HOOOOLAAA
    </section>
</main>

