
/*

  GLOBAL STYLES

*/

main{
    margin-top: 10vh;
}





#main-header{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    min-height: 95vh;
    /*background:#232323;*/
    margin-bottom: 100px;
    
}
#main-header .titulo{
    text-align: center;
    color: #32384f;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: 600;
    font-size: 4em;
    
}
#main-header .buttonrouter{
    text-align: center;
    margin-bottom: 30px;
}
#main-header .buttonrouter button{
    border: 2px solid #4e7cf2;
    border-radius: 50px;
    font-size: 24px;
    padding: 8px 28px;
    transition: all 0.2s ease-out;
    cursor: pointer;
    outline:none;
}
#main-header .buttonrouter button:active, #main-header .buttonrouter button:focus{
    outline:none;
}
#main-header .buttonrouter button:hover{
    background: #4e7cf2;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    color: #fff;
}
#main-header .subtitulo{
    
    text-align: center;
    color:#4F5D7F;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
    font-weight: 50;
}




/*  ================================
    howWeWork
    ================================ */




#howWeWork{
    background: linear-gradient(45deg, #29417F, #4F5D7F);
    min-height: 80vh;
    position: relative;
    
    
}
.back{
    position: absolute;
    transform: translateX(50%);
    right: 50%;
    top:-310px;
    z-index: -1;
}
#howWeWork .contenedor{
    display: flex;
}
#howWeWork .contenedor .imagen{
    width:50%;
    display: flex;
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;
    height: 80vh;
}
#howWeWork .contenedor .imagen img{
    max-width: 500px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 5px;

}
#howWeWork .contenedor .text{
    width: 50%;
    height: 80vh;
    padding: 10px;
}
#howWeWork .contenedor .text h2{
    font-size: 3em;
    color: #fff;
    margin-top: 0.5em;
    margin-bottom: 35px;
}
#howWeWork .contenedor .text p{
    font-size: 1.2em;
    color: #fff;
    margin-top: 0.5em;
}

#howWeWork .contenedor .text ul{
    font-size: 1.2em;
    color: #fff;
    margin-top: 0.5em;
    list-style: none;
}



/*

PRICING PLANS STYLES

*/




#pricingPlans{
    min-height: 100vh;
    background: linear-gradient(to bottom, #60a9ff 0%,#4394f4 100%);
    padding: 5% 10%;
    
}

#pricingPlans h1 {
  color: #fff;
  font-size: 3.3em;
  text-align: center;
  
}




  

  
  #pricingPlans .panel {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    position: relative;
    width: 100%;
    z-index: 10;
  }
  
  #pricingPlans .pricing-table {
    box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
    display: flex;
    flex-direction: column;
  }
  
  @media (min-width: 900px) {
    #pricingPlans .pricing-table {
      flex-direction: row;
    }
  }
  
  #pricingPlans .pricing-table * {
    text-align: center;
    text-transform: uppercase;
  }
  
  #pricingPlans .pricing-plan {
    border-bottom: 1px solid #e1f1ff;
    padding: 25px;
  }
  
  #pricingPlans .pricing-plan:last-child {
    border-bottom: none;
  }
  
  @media (min-width: 900px) {
    #pricingPlans .pricing-plan {
      border-bottom: none;
      border-right: 1px solid #e1f1ff;
      flex-basis: 100%;
      padding: 25px 50px;
    }
  
    #pricingPlans .pricing-plan:last-child {
      border-right: none;
    }
  }
  
  #pricingPlans .pricing-img {
    margin-bottom: 25px;
    max-width: 100%;
  }
  
  #pricingPlans .pricing-header {
    color: #888;
    font-weight: 600;
    letter-spacing: 1px;
  }
  
  #pricingPlans .pricing-features {
    color: #016FF9;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 50px 0 25px;
    list-style: none;
  }
  
  #pricingPlans .pricing-features-item {
    border-top: 1px solid #e1f1ff;
    font-size: 12px;
    line-height: 1.5;
    padding: 15px 0;
  }
  
  #pricingPlans .pricing-features-item:last-child {
    border-bottom: 1px solid #e1f1ff;
  }
  
  #pricingPlans .pricing-price {
    color: #016FF9;
    display: block;
    font-size: 32px;
    font-weight: 700;
  }
  
  #pricingPlans .pricing-button {
    border: 1px solid #9dd1ff;
    border-radius: 10px;
    color: #348EFE;
    display: inline-block;
    margin: 25px 0;
    padding: 15px 35px;
    text-decoration: none;
    transition: all 150ms ease-in-out;
  }
  
  #pricingPlans .pricing-button:hover,
  #pricingPlans .pricing-button:focus {
    background-color: #e1f1ff;
  }
  
  #pricingPlans .pricing-button.is-featured {
    background-color: #48aaff;
    color: #fff;
  }
  
  #pricingPlans .pricing-button.is-featured:hover,
  #pricingPlans .pricing-button.is-featured:active {
    background-color: #269aff;
  }




